# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up a Go environment
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Build a binary
        run: go build -v .

      - name: Attach the binary to the release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./restic-wrapper
          asset_name: restic-wrapper
          asset_content_type: application/octet-stream
